label.checkbox {
  position: relative;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  user-select: none;
  cursor: pointer;
  &.disabled {
    opacity: 0.75;
    cursor: not-allowed;
  }
  * {
    pointer-events: none;
  }
  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 1.8rem;
    height: 1.8rem;
    padding: 0;
    border-radius: 3px;
    &:checked ~ .check {
      display: block;
    }
    &:indeterminate ~ .indeterminate {
      display: block;
    }
    &:not(:disabled) {
      &:hover,
      &:focus-visible {
        border-color: rgba(var(--color-primary), 0.5);
      }
      &:focus-visible {
        box-shadow: 0 0 0 6px rgba(var(--color-primary), 0.1);
      }
      &:checked,
      &:indeterminate {
        background-color: var(--color-blue);
        border-color: var(--color-blue);
        &:hover,
        &:focus-visible {
          background-color: var(--color-blue-hover);
          border-color: var(--color-blue-hover);
        }
      }
    }
    &:disabled:checked,
    &:disabled:indeterminate {
      background-color: var(--color-input-border);
      border-color: var(--color-input-border);
    }
  }
  .check,
  .indeterminate {
    display: none;
    position: absolute;
    top: 1px;
    left: 0;
    width: 1.8rem;
    height: 1.8rem;
    color: var(--color-white-ish);
    stroke-width: 2px;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    animation: drawStroke var(--speed) forwards;
    * {
      color: inherit;
    }
  }
}
