section#playground ul.playground-tablist {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  &.hidden {
    height: 0;
    overflow: hidden;
    margin-bottom: 0;
    pointer-events: none;
  }
  li {
    list-style: none;
    button {
      position: relative;
      height: 5rem;
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 1.2rem 1.8rem;
      background-color: transparent;
      cursor: pointer;
      &:hover,
      &:focus-visible {
        background-color: var(--color-secondary-shaded);
      }
      &[aria-selected="true"] {
        // Visual border to minimize laggy transition
        box-shadow: inset 0 -4px transparent;
        animation: showUnderline 0s 200ms forwards;
        @keyframes showUnderline {
          to {
            box-shadow: inset 0 -4px var(--color-blue-hover);
          }
        }
      }
      svg {
        width: 18px;
        height: 18px;
        flex-shrink: 0;
        &.inputs-icon {
          circle {
            translate: 8px 0;
          }
        }
        &.tables-icon line {
          stroke-dasharray: 1;
          stroke-dashoffset: 2;
        }
        &.alerts-icon {
          transform-origin: top;
          rotate: -20deg;
          translate: -3px 0;
        }
      }
      span {
        white-space: nowrap;
        font-size: var(--font-size-label);
        font-weight: 600;
      }
    }
  }
  &.compact-view {
    li {
      width: 100%;
      button {
        width: 100%;
        justify-content: center;
        @media screen and (min-width: 500px) {
          height: unset;
          padding: 2rem;
          svg {
            width: 27px;
            height: 27px;
          }
        }
        span {
          display: none;
        }
      }
    }
  }
  .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    background-color: var(--color-blue-hover);
    pointer-events: none;
    transition:
      left var(--speed),
      right var(--speed);
    &.hidden {
      opacity: 0;
    }
  }
}

/** Active btn icons */
section#playground ul.playground-tablist li button[aria-selected="true"] svg {
  &.inputs-icon {
    .check {
      animation: iconFillIn 0.6s linear forwards;
      &.indeterminate {
        animation-delay: 0.1s;
      }
      @keyframes iconFillIn {
        20% {
          fill: transparent;
        }
        80% {
          fill: transparent;
        }
        100% {
          fill: rgb(var(--color-primary));
        }
      }
    }
    circle {
      animation: iconRangeSlide 1s forwards;
      @keyframes iconRangeSlide {
        0% {
          translate: 8px 0;
        }
        30% {
          translate: 0px 0;
        }
        70% {
          translate: 12px 0;
        }
        100% {
          translate: 8px 0;
        }
      }
    }
  }
  &.loadings-icon {
    animation: rotate 1s forwards;
  }
  &.icons-icon {
    .pencil {
      animation: pencilSLide 1s forwards;
      @keyframes pencilSLide {
        0%,
        30%,
        60%,
        100% {
          translate: 0 0;
        }
        20% {
          translate: -2px -2px;
        }
        40% {
          translate: 2px 2px;
        }
      }
    }
    .ruler {
      animation: rulerSLide 1s forwards;
      @keyframes rulerSLide {
        0%,
        30%,
        60%,
        100% {
          translate: 0 0;
        }
        20% {
          translate: 2px 2px;
        }
        40% {
          translate: -2px -2px;
        }
      }
    }
  }
  &.media-icon {
    .play {
      --elastic-bounce: cubic-bezier(0.7, -0.5, 0.3, 1.5);
      animation: slideToRight 0.5s var(--elastic-bounce) forwards;
      @keyframes slideToRight {
        to {
          translate: 12px 0;
        }
      }
      &.clone {
        translate: -12px 0;
        animation: slideFromLeft 0.5s 0.2s var(--elastic-bounce) forwards;
        @keyframes slideFromLeft {
          to {
            translate: 0 0;
          }
        }
      }
    }
  }
  &.tables-icon line {
    animation: iconTableFill 1s ease-in-out;
    @for $i from 1 through 5 {
      &:nth-of-type(#{$i}) {
        animation-delay: ($i - 1) * 0.1s;
      }
    }
    @keyframes iconTableFill {
      from {
        stroke-dashoffset: 2;
      }
      80%,
      to {
        stroke-dashoffset: 0;
      }
    }
  }
  &.alerts-icon {
    animation: iconBellSwing 1.5s ease-out;
    @keyframes iconBellSwing {
      0% {
        rotate: -20deg;
      }
      7.5% {
        rotate: 0deg;
      }
      15% {
        rotate: -20deg;
      }
      22.5% {
        rotate: 0deg;
      }
      30% {
        rotate: -20deg;
      }
    }
    .clapper {
      animation: iconClapperSwing 1.5s;
      @keyframes iconClapperSwing {
        0% {
          translate: 0px 0;
        }
        4.5% {
          translate: 1px 0;
        }
        7.5% {
          translate: 1px 0;
        }
        11.25% {
          translate: 0 0;
        }
        17.5% {
          translate: 3px 0;
        }
        26% {
          translate: 0 0;
        }
        35% {
          translate: 3px 0;
        }
        45% {
          translate: 0px 0;
        }
        55% {
          translate: 1px 0;
        }
        70% {
          translate: 0px 0;
        }
      }
    }
  }
}

/* Tab contents */
section#playground {
  // h3 {
  //   margin-bottom: 0.75rem;
  //   font-size: var(--font-size-label);
  //   font-weight: 600;
  // }
}
.toolbar {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
