svg.jump-icon {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  .arrow {
    transform-origin: center;
    transition: rotate calc(var(--speed) * 2);
  }
  text {
    fill: currentColor;
    stroke: none;
    font-size: 7px;
    font-weight: 600;
    text-anchor: middle;
    user-select: none;
    pointer-events: none;
  }
}
