dialog#confirm {
  max-width: 400px;
  p {
    font-weight: 500;
    word-wrap: break-word;
  }
  .buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}
