.loadings {
  --button-size: 90px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--button-size), 1fr));
  &.stopped * {
    animation-play-state: paused !important;
  }
  button.loading {
    padding: 20px;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    &:hover,
    &:focus-visible {
      background-color: var(--color-secondary-shaded);
    }
    > * {
      // TODO: make relative for scaling
      margin: auto;
      --loading-size: 50px;
      width: var(--loading-size);
      height: var(--loading-size);
    }
  }
}

dialog#loading-modal {
  max-width: 500px;
  .header,
  .carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    h3,
    p {
      font-weight: 600;
    }
  }
  .content {
    margin: 30px auto;
    ul.tablist {
      display: flex;
      align-items: center;
      li {
        list-style: none;
        &:last-child {
          margin-left: auto;
        }
        button,
        a {
          display: flex;
          align-items: center;
          gap: 1rem;
          padding: 1rem 1.4rem;
          font-size: var(--font-size-small);
          font-weight: 600;
          text-decoration: none;
          background-color: transparent;
          cursor: pointer;
          svg {
            width: 18px;
            height: 18px;
            flex-shrink: 0;
            stroke-width: 1.5px;
            .arrow {
              translate: 0 0;
              transition: translate var(--speed);
            }
          }
          &:hover,
          &:focus-visible {
            background-color: var(--color-secondary-shaded);
            svg .arrow {
              translate: 3px -3px;
            }
          }
          &[aria-selected="true"] {
            background-color: var(--color-secondary-shaded);
          }
        }
      }
    }
    div[role="tabpanel"] {
      height: 300px;
      #loading {
        display: grid;
        place-items: center;
        width: 100%;
        height: 100%;
        > * {
          width: 50px;
          height: 50px;
        }
      }
      > * {
        height: 100%;
      }
    }
    pre {
      color-scheme: dark;
      background-color: var(--color-black-ish);
      padding: 0 1.5rem;
      font-size: var(--font-size-small);
      overflow-y: auto;
      overflow-x: hidden;
      scrollbar-width: thin;
      code {
        white-space: break-spaces;
        word-break: break-word;
        * {
          font-family: inherit;
          color: #e5c07b;
        }
        .property,
        .tag.attr-value.punctuation,
        .tag.attr-value.punctuation.attr-equals,
        .tag.punctuation,
        .selector.punctuation,
        .punctuation,
        .selector,
        .function {
          color: #abb2bf;
        }
        .atrule {
          color: #6bb9e6;
        }
        .rule,
        .selector.pseudo-class {
          color: #a595e9;
        }
        .tag,
        .selector {
          color: #ff858f;
        }
        .tag.attr-value,
        .tag.attr-value.punctuation,
        .class {
          color: #98c379;
        }
        .token.tag.attr-name,
        .n-th {
          color: #e5c07b;
        }
        .comment {
          color: #606d83;
        }
      }
    }
  }
}
