section {
  max-width: var(--max-width);
  margin-inline: auto;
  padding: 60px var(--inline-padding);
  &:first-of-type {
    margin-top: var(--header-height);
  }
  &:nth-child(even) {
    background: var(--color-secondary-shaded);
    box-shadow: 0 0 0 9999px var(--color-secondary-shaded);
    clip-path: inset(0 -9999px 0 -9999px);
  }
  h2 {
    margin-bottom: var(--font-size-title);
    font-size: var(--font-size-title);
    font-weight: 800;
    &::before {
      content: "// ";
      color: var(--color-red);
      font-weight: inherit;
    }
    a {
      text-decoration: none;
      &:hover,
      &:focus-visible {
        text-decoration: underline;
      }
    }
  }
  .description {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 700px) {
  section {
    padding-block: 30px;
  }
}

@media screen and (max-width: 400px) {
  section {
    // padding-block: 20px;
  }
}
