.tooltip {
  display: none; // Toggle from parent
  position: absolute; // Parent needs relative
  pointer-events: none;
  bottom: 130%;
  padding: 3px 6px;
  white-space: nowrap;
  font-size: var(--font-size-small);
  font-weight: inherit;
  border-radius: 4px;
  box-shadow:
    0 10px 15px -3px var(--color-shadow),
    0 4px 6px -4px var(--color-shadow);
  transform-origin: bottom center;
  scale: 0.75;
  opacity: 0;
  animation:
    scaleUp var(--speed) cubic-bezier(0.3, 0.7, 0.1, 1.2) forwards,
    fadeIn calc(var(--speed) / 2) forwards;
  // Colors
  --color-tooltip-text: rgb(var(--color-primary));
  --color-tooltip-bg: rgb(var(--color-secondary));
  &.contrast {
    --color-tooltip-text: rgb(var(--color-secondary));
    --color-tooltip-bg: rgb(var(--color-primary));
  }
  color: var(--color-tooltip-text) !important;
  background-color: var(--color-tooltip-bg) !important;
  &.no-arrow::after {
    display: none;
  }
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    translate: -50% 90%;
    width: 0;
    height: 0;
    border-top: 6px solid var(--color-tooltip-bg);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
  }
  &.left {
    transform-origin: bottom left;
    left: 0;
    &::after {
      left: 15px;
      translate: 0 90%;
    }
  }
  &.right {
    transform-origin: bottom right;
    right: 0;
    &::after {
      left: unset;
      right: 15px;
      translate: 0 90%;
    }
  }
}
