.toolbar.alerts-toolbar {
  display: grid;
  grid-template-columns: 3fr 1fr auto;
  .input-container input {
    width: 100%;
  }
  .show-alert-btn svg {
    transform-origin: top;
    rotate: -20deg;
    translate: -3px 0;
    &.animate {
      animation: iconBellSwing 1.5s ease-out;
      .clapper {
        animation: iconClapperSwing 1.5s;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .toolbar.alerts-toolbar {
    .input-container {
      width: 100%;
      input {
        width: 100%;
      }
    }
    .show-alert-btn span {
      display: none;
    }
  }
}
