.toolbar.tables-toolbar {
  gap: 1rem;
  margin-bottom: 1rem;
  .count {
    padding-inline: 1rem;
  }
  .buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
    button {
      @media screen and (max-width: 970px) {
        span {
          display: none;
        }
        &:hover .tooltip,
        &:focus-visible .tooltip {
          display: block;
        }
      }
    }
  }
}

.table-wrapper {
  overflow: hidden;
  border-radius: 4px;
  background-color: var(--color-input-bg);
  box-shadow:
    0 10px 15px -3px var(--color-shadow),
    0 4px 6px -4px var(--color-shadow);
  form.horizontal-scroll {
    overflow-x: scroll;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
      width: initial;
      height: initial;
    }
    &::-webkit-scrollbar-track {
      background-color: rgba(var(--color-primary), 0.04);
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(var(--color-primary), 0.25);
      border-radius: 10px;
      border: 4px solid transparent;
      background-clip: content-box;
      &:hover {
        background-color: rgba(var(--color-primary), 0.35);
      }
      &:active {
        background-color: rgba(var(--color-primary), 0.5);
      }
    }
  }
}

table {
  --cell-padding-inline: 2rem;
  position: relative;
  border-collapse: collapse;
  width: 100%;
  thead {
    th {
      button.btn.default {
        height: 4.5rem;
        width: 100%;
        justify-content: space-between;
        padding-left: var(--cell-padding-inline);
        border-radius: 0;
        font-weight: 600;
        &:disabled,
        &:disabled:hover,
        &:disabled:focus-visible {
          opacity: 1;
          cursor: auto;
        }
      }
    }
  }
  tbody {
    position: relative;
    tr:not(.table-loading) {
      height: 38px;
      &:nth-of-type(even) {
        background-color: rgba(var(--color-primary), 0.04);
      }
      &.error-msg td {
        text-align: center;
      }
      &:not(.error-msg):not(.editing):hover {
        background-color: rgba(var(--color-primary), 0.08);
      }
      &.add-row {
        td {
          padding: 0;
          button {
            all: inherit;
            width: 100%;
            height: 38px;
            padding-inline: var(--cell-padding-inline);
            background-color: transparent;
            cursor: pointer;
          }
        }
      }
      &.editing {
        background-color: rgba(var(--color-primary), 0.12);
      }
      td {
        padding-inline: var(--cell-padding-inline);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &.name {
          width: 150px;
          min-width: 150px;
          max-width: 150px;
        }
        &.surname {
          width: 150px;
          min-width: 150px;
          max-width: 150px;
        }
        &.age {
          width: 100px;
          min-width: 100px;
          max-width: 100px;
          text-align: right;
          input {
            text-align: right;
          }
        }
        &.occupation {
          min-width: 210px;
        }
        &.input {
          padding-inline: calc(var(--cell-padding-inline) / 4);
          input,
          select {
            width: 100%;
            min-height: unset;
            height: 30px;
            border: none;
            border-radius: 3px;
            padding-inline: calc(var(--cell-padding-inline) / 4 * 3);
            padding-block: 0;
            &:focus-visible {
              box-shadow:
                inset 0 0 0 1px rgba(var(--color-primary), 0.5),
                0 0 0 1px rgba(var(--color-primary), 0.5);
            }
          }
          select {
            cursor: pointer;
            padding-inline: 11px calc(var(--cell-padding-inline) / 4 * 3);
            @-moz-document url-prefix() {
              padding-inline: calc(var(--cell-padding-inline) / 4 * 3);
            }
          }
        }
        &.actions {
          width: 76px;
          min-width: 76px;
          max-width: 76px;
          padding: 0;
          display: grid;
          grid-template-columns: 1fr 1fr;
          .btn.default.light {
            width: 38px;
            height: 38px;
            border-radius: 0;
            opacity: 0.5;
            background-color: transparent;
            &:hover,
            &:focus-visible {
              opacity: 1;
            }
          }
        }
      }
    }
    tr.table-loading {
      position: absolute;
      z-index: 1;
      inset: 0;
      width: 100%;
      height: 100%;
      display: grid;
      place-items: center;
      background-color: rgba(var(--color-secondary), 0.8);
      backdrop-filter: blur(4px);
      .loading-spinner {
        width: 4rem;
      }
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  gap: 10px;
  width: max-content;
  margin: 20px auto 0;
  span {
    width: 60px;
    text-align: center;
    font-weight: 500;
  }
}

@media screen and (max-width: 600px) {
  .toolbar.tables-toolbar {
    flex-direction: column;
    align-items: flex-start;
    .input-container {
      width: 100%;
      input {
        width: 100%;
      }
    }
    .count {
      display: none;
    }
    .buttons {
      width: 100%;
      button {
        width: 100%;
        &:first-of-type {
          margin-left: unset;
        }
      }
    }
  }
}
