.alerts-container {
  position: fixed;
  inset: 0;
  top: var(--header-height);
  z-index: 3;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  pointer-events: none;
  * {
    pointer-events: auto;
  }
  .alert {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
    display: grid;
    grid-template-rows: 1fr;
    background-color: rgb(var(--color-secondary));
    border-radius: 6px;
    overflow: hidden;
    box-shadow:
      inset 0 0 0 1px var(--color-menu-border),
      0 2px 2px var(--color-shadow),
      0 2px 20px var(--color-shadow);
    opacity: 0;
    scale: 0.8;
    transform-origin: top right;
    animation: showAlert var(--speed) cubic-bezier(0.3, 0.7, 0.1, 1.2) forwards;
    @keyframes showAlert {
      to {
        opacity: 1;
        scale: 1;
      }
    }
    --accent-color: var(--color-blue-hover);
    &.success {
      --accent-color: var(--color-alert-success);
    }
    &.warning {
      --accent-color: var(--color-alert-warning);
    }
    &.error {
      --accent-color: var(--color-red);
    }
    &.hiding {
      animation: hideAlert calc(2 * var(--speed)) cubic-bezier(0.3, 0.7, 0.1, 1.2) forwards;
      @keyframes hideAlert {
        from {
          margin-bottom: 10px;
          opacity: 1;
          scale: 1;
          grid-template-rows: 1fr;
        }
        50% {
          opacity: 0;
        }
        to {
          margin-bottom: 0;
          opacity: 0;
          scale: 0.2;
          grid-template-rows: 0fr;
        }
      }
    }
    > div {
      flex-shrink: 0;
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      svg.icon {
        display: block;
        flex-shrink: 0;
        width: 18px;
        height: 18px;
        margin: 20px 0px auto 20px;
        color: var(--accent-color);
      }
      p {
        width: 100%;
        padding: 20px 24px 22px 16px;
        user-select: text;
        word-break: break-word;
        text-wrap: balance;
        font-weight: 500;
        color: rgb(var(--color-primary));
        &::selection {
          background-color: rgba(var(--color-primary), 0.25);
        }
      }
      button {
        flex-shrink: 0;
        line-height: 0;
        width: 30px;
        height: 30px;
        margin: 14px 14px auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 8px;
        background-color: transparent;
        border-radius: 50%;
        svg {
          stroke-width: 2px;
          opacity: 0.4;
        }
        &:hover,
        &:focus-visible {
          background-color: rgba(var(--color-primary), 0.1);
          svg {
            opacity: 1;
          }
        }
      }
      &:hover button svg {
        opacity: 1;
      }
      .lifespan {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 6px;
        width: 100%;
        background-color: var(--accent-color);
        transition: width 0.1s linear;
        animation: lifespan 6.1s linear forwards;
        @keyframes lifespan {
          to {
            width: 0%;
          }
        }
      }
    }
  }
}

.btns {
  margin-block: 500px 100px;
  display: flex;
  gap: 10px;
  padding-inline: 20px;
}
