header {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  background-color: rgb(var(--color-secondary));
  box-shadow:
    0 -1px 2px var(--color-shadow),
    0 0 10px var(--color-shadow);
  nav {
    display: flex;
    align-items: center;
    position: relative;
    height: var(--header-height);
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    padding-inline: 20px;
  }
  a,
  .menu-btn,
  .color-mode-btn,
  .lang-btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: var(--header-height);
    font-size: var(--font-size-label);
    font-weight: 600;
    text-decoration: none;
    padding: 0 1.8rem;
    white-space: nowrap;
    background-color: transparent;
    &:hover,
    &:focus-visible {
      background-color: var(--color-secondary-shaded);
    }
  }
}

.mobile {
  .menu-btn {
    display: none;
    z-index: 2;
    .menu-btn-burger {
      position: relative;
      width: 28px;
      height: 2px;
      background-color: rgb(var(--color-primary));
      border-radius: 2px;
      transition: background-color var(--speed);
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        width: inherit;
        height: inherit;
        border-radius: inherit;
        background-color: rgb(var(--color-primary));
        transition: transform var(--speed);
      }
      &::before {
        transform: translateY(-10px);
      }
      &::after {
        transform: translateY(10px);
      }
    }
    &[aria-expanded="true"] .menu-btn-burger {
      background-color: transparent;
      &::before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &::after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }
  .menu-overlay {
    position: fixed;
    z-index: 1;
    inset: 0;
    height: 100vh;
    height: 100dvh;
    background-color: var(--color-shadow-strong);
    pointer-events: none;
    opacity: 0;
    transition: opacity var(--speed);
    &.visible:not(.hiding) {
      pointer-events: auto;
      opacity: 1;
    }
  }
  .menu {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    z-index: 1;
    inset: 0;
    max-width: 100%;
    height: 100vh;
    height: 100dvh;
    padding: 80px 0;
    background-color: rgb(var(--color-secondary));
    overflow-x: hidden;
    overflow-y: auto;
    width: 0;
    opacity: 0;
    animation: menuSlideIn var(--speed) forwards;
    @keyframes menuSlideIn {
      from {
        width: 0;
        opacity: 0;
      }
      to {
        width: 300px;
        opacity: 1;
      }
    }
    &.hiding {
      animation: menuSlideOut var(--speed) forwards;
      @keyframes menuSlideOut {
        from {
          width: 300px;
          opacity: 1;
        }
        to {
          width: 0;
          opacity: 0;
        }
      }
    }
    &[aria-hidden="false"] {
      display: flex;
    }
    a {
      width: 300px;
      flex-shrink: 0;
      display: flex;
      align-content: center;
      padding-left: 100px;
    }
  }
}

.logo {
  width: 32px;
  height: 32px;
}

header a.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--color-red);
}

.color-mode {
  position: relative;
  margin-left: auto;
  .color-mode-btn {
    width: 60px;
    justify-content: center;
    &[aria-expanded="true"] {
      background-color: var(--color-secondary-shaded);
      pointer-events: none;
    }
    svg {
      width: 18px;
      height: 18px;
      stroke-width: 1.5px;
    }
  }
  .color-mode-menu {
    width: max-content;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 55px;
    right: 0;
    background-color: rgb(var(--color-secondary));
    border-radius: 8px;
    border: 1px solid var(--color-menu-border);
    box-shadow: 0 2px 20px var(--color-shadow-mid);
    opacity: 0;
    scale: 0.8;
    transform-origin: calc(100% - 30px) top;
    animation: showMenu var(--speed) cubic-bezier(0.3, 0.7, 0.1, 1.2) forwards;
    @keyframes showMenu {
      100% {
        opacity: 1;
        scale: 1;
      }
    }
    &[aria-hidden="false"] {
      display: flex;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 20px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      pointer-events: none;
    }
    &::before {
      top: -10px;
      border-bottom: 10px solid var(--color-menu-border);
    }
    &::after {
      top: -8.59px; /* 10px - square root of 2 (diagonal in 1*1 square) */
      border-bottom: 10px solid rgb(var(--color-secondary));
    }
    .scrollable {
      max-height: calc(100vh - 75px);
      max-height: calc(100dvh - 75px);
      padding: 6px;
      overflow-y: auto;
      scrollbar-width: thin;
      &::-webkit-scrollbar {
        width: initial;
        height: initial;
      }
      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba(var(--color-primary), 0.25);
        border-radius: 10px;
        border: 4px solid transparent;
        background-clip: content-box;
        &:hover {
          background-color: rgba(var(--color-primary), 0.35);
        }
        &:active {
          background-color: rgba(var(--color-primary), 0.5);
        }
      }
      p {
        padding: 8px 14px;
        text-wrap: balance;
        user-select: none;
      }
      hr {
        height: 1px;
        margin: 3px 6px 6px;
        border-bottom: 1px solid var(--color-menu-border);
      }
      label {
        min-width: max-content;
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: 8px;
        padding: 8px 14px;
        font-weight: 500;
        user-select: none;
        border-radius: 4px;
        cursor: pointer;
        &:hover,
        &:focus-within {
          background-color: var(--color-secondary-shaded);
        }
        input[type="radio"] {
          margin-top: 3px;
          accent-color: rgb(var(--color-primary));
        }
      }
    }
  }
}

.lang {
  .lang-btn {
    width: 60px;
    justify-content: center;
    svg {
      width: 18px;
      height: 18px;
      stroke-width: 1.5px;
    }
  }
}

@media screen and (max-width: 700px) {
  header nav {
    padding-inline: 0;
    .mobile .menu-btn {
      display: inline-flex;
    }
    a:not(:first-of-type) {
      display: none;
    }
  }
}

@media screen and (max-width: 300px) {
  .mobile .menu {
    max-width: 100%;
    align-items: flex-start;
    a {
      width: 100%;
      justify-content: center;
      padding-inline: 20px;
    }
  }
}
