section#about {
  position: relative;
  overflow: hidden;
  --hero-header-padding: 20px;
  img.hero {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
    mask-image: linear-gradient(to right, transparent, black 30%);
    mask-size: 100%, 0;
    user-select: none;
  }
  h1 {
    padding: 4px var(--hero-header-padding);
    font-size: var(--font-size-huge);
    &.highlight {
      position: relative;
      margin-bottom: 4rem;
      max-width: max-content;
      color: rgb(var(--color-secondary));
      background-color: var(--color-red);
      clip-path: polygon(
        calc(100% - var(--hero-header-padding)) 0,
        100% calc(var(--hero-header-padding)),
        100% 100%,
        0 100%,
        0 0
      );
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: var(--hero-header-padding);
        height: var(--hero-header-padding);
        background-color: rgba(var(--color-primary), 0.25);
      }
      .underscore {
        color: inherit;
        font-weight: 900;
        animation: pulse 1.5s steps(2, jump-none) infinite;
        @keyframes pulse {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
      }
    }
  }
  p {
    padding-left: var(--hero-header-padding);
    max-width: 60%;
    // font-weight: 500;
    font-size: var(--font-size-medium);
    font-size: var(--font-size-label);
    // font-size: 2rem;
    b {
      white-space: nowrap;
    }
  }
}

@media screen and (max-width: 700px) {
  section#about {
    --hero-header-padding: 15px;
  }
}

@media screen and (max-width: 400px) {
  section#about {
    --hero-header-padding: 12px;
  }
}
