.icons {
  --icon-btn-size: 70px;
  --icon-size: 36px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--icon-btn-size), 1fr));
  .icons-loading {
    grid-column: 1 / -1;
    width: 40px;
    margin: 45px auto;
  }
  .error-msg {
    grid-column: 1 / -1;
    height: 70px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-weight: 700;
    p {
      font-weight: 400;
    }
  }
  button {
    height: var(--icon-btn-size);
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    &:hover,
    &:focus-visible {
      background-color: var(--color-secondary-shaded);
    }
    svg {
      margin: auto;
      width: var(--icon-size);
      height: var(--icon-size);
      stroke-width: 1.5px;
    }
  }
}

dialog#icon-modal {
  max-width: 500px;
  .header {
    .copy-btn {
      margin-left: auto;
      svg.check {
        stroke-width: 2px;
        stroke-dasharray: 1;
        stroke-dashoffset: 1;
        animation: drawStroke var(--speed) forwards;
      }
    }
  }
  .header,
  .carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    h3,
    p {
      font-weight: 600;
    }
  }
  #icon {
    svg {
      margin: 30px auto;
      max-width: 200px;
    }
  }
}

@media screen and (max-width: 700px) {
  .icons {
    --icon-btn-size: 50px;
    --icon-size: 24px;
  }
}

@media screen and (max-width: 500px) {
  .toolbar.icons-toolbar {
    flex-direction: column;
    .input-container {
      width: 100%;
      input {
        width: 100%;
      }
    }
    .download-all-btn {
      width: 100%;
    }
  }
}
