#contact form {
  position: relative;
  .inputs {
    max-width: 700px;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    @media screen and (max-width: 800px) {
      max-width: unset;
      flex-wrap: wrap;
    }
    input {
      width: 100%;
    }
  }
  textarea {
    width: 100%;
    height: 200px;
    min-height: 100px;
    max-height: 400px;
    resize: vertical;
  }
  button[type="submit"] {
    margin-top: 10px;
    margin-left: auto;
  }
  .overlay {
    position: absolute;
    inset: 0;
    background-color: var(--color-secondary-shaded);
    &.hiding {
      animation: fadeOut var(--speed) forwards;
    }
    svg {
      position: absolute;
      top: 40%;
      left: 50%;
      translate: -50% -50%;
      max-width: 40px;
      margin-bottom: 15px;
      stroke: var(--color-blue-hover);
    }
    p {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% 0;
      font-size: var(--font-size-label);
      font-weight: 500;
      width: 100%;
      text-align: center;
    }
  }
}
