.loading-overlay {
  display: none;
  &.true {
    display: grid;
  }
  align-content: center;
  gap: 0;
  position: fixed;
  inset: 0;
  z-index: 10;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  place-items: center;
  background-color: rgb(var(--color-secondary));
  box-shadow: 0 0 0 9999px rgb(var(--color-secondary));
  transition: gap calc(var(--speed) * 2);
  &.too-long {
    gap: 3rem;
    .accordion {
      grid-template-rows: 1fr;
      .timeout-msg {
        display: flex;
      }
    }
  }
  &.hiding {
    animation: fadeOut var(--speed) forwards;
  }
  .loading-spinner {
    width: 50px;
    height: 50px;
    opacity: 0;
    animation: fadeIn 1s 0.5s forwards;
  }
  .accordion {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows calc(var(--speed) * 2);
    .timeout-msg {
      overflow: hidden;
      display: none;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      > * {
        transform-origin: bottom center;
        translate: 0 10px;
        opacity: 0;
        animation:
          comeBack var(--speed) cubic-bezier(0.3, 0.7, 0.1, 1.2) forwards,
          fadeIn var(--speed) forwards;
        &:last-child {
          animation-delay: calc(var(--speed) / 2);
        }
      }
    }
  }
}
