footer {
  max-width: var(--max-width);
  margin-inline: auto;
  padding: 5rem var(--inline-padding);
  .links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    a[target="_blank"] {
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
      padding: 3px 3px 2px 6px;
      text-decoration: none;
      font-weight: 500;
      box-shadow: inset 0 -3px var(--color-blue);
      transition:
        color var(--speed),
        box-shadow var(--speed);
      &:hover,
      &:focus-visible {
        color: var(--color-white-ish);
        box-shadow: inset 0 -24px var(--color-blue);
        svg .arrow {
          stroke: var(--color-white-ish);
        }
      }
      svg {
        width: 18px;
        height: 18px;
        flex-shrink: 0;
        stroke-width: 1.5px;
        stroke-linecap: round;
        stroke-linejoin: round;
        .arrow {
          transition: stroke var(--speed);
        }
      }
    }
  }
}
