dialog#prompt {
  max-width: 370px;
  p {
    margin-bottom: 1rem;
    font-weight: 500;
    word-wrap: break-word;
  }
  input[type="text"],
  input[type="number"],
  select {
    width: 100%;
  }
  label {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    padding: 8px 14px;
    text-wrap: balance;
    font-weight: 500;
    user-select: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover,
    &:focus-within {
      background-color: var(--color-secondary-shaded);
    }
    input[type="radio"] {
      margin-top: 3px;
      accent-color: rgb(var(--color-primary));
    }
  }
  .buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}
