svg.loading-spinner {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  circle {
    opacity: 0.1;
    &.progress {
      opacity: 1;
      stroke-dasharray: 1;
      stroke-dashoffset: 1;
      transition:
        all var(--speed),
        stroke 0s;
      transform-origin: center;
      &.progressive {
        rotate: -90deg;
      }
      &.static {
        animation: rotate 1s linear infinite;
      }
      &.grow-shrink {
        animation:
          rotate 2s linear infinite,
          growShrink 2s ease-in-out infinite;
      }
      @keyframes growShrink {
        0% {
          stroke-dasharray: 0, 1;
          stroke-dashoffset: 0;
        }
        40% {
          stroke-dasharray: 0.5, 1;
          stroke-dashoffset: -0.5;
        }
        100% {
          stroke-dasharray: 0.5, 1;
          stroke-dashoffset: -1;
        }
      }
    }
  }
  .check {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    animation: drawStroke var(--speed) var(--speed) forwards;
  }
}
