:root,
::backdrop {
  /* Adjustable for RGBA */
  --color-primary: 15, 33, 59;
  --color-secondary: 250, 250, 250;

  /* Fixed colors */
  --color-primary-hover: rgb(62, 76, 97);
  --color-secondary-shaded: rgb(236, 236, 240);

  --color-white-ish: rgb(255, 255, 255);
  --color-black-ish: rgb(22, 22, 22);
  --color-red: rgb(248, 60, 91);
  --color-red-hover: hsl(350, 70%, 52%);
  --color-blue: hsl(215deg 65% 40%);
  --color-blue-hover: hsl(215deg 70% 52%);

  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-shadow-mid: rgba(0, 0, 0, 0.2);
  --color-shadow-strong: rgba(0, 0, 0, 0.4);
  --color-shadow-text: rgba(0, 0, 0, 0.4);

  --color-input-bg: rgb(255, 255, 255);
  --color-input-border: hsl(218, 9%, 80%);
  --color-menu-border: #e4e4e7;

  --color-alert-success: rgb(54, 193, 54);
  --color-alert-warning: rgb(255, 167, 0);

  --color-video-gui-dark: rgba(0, 0, 0, 0.75);
  --color-video-gui-light: rgba(253, 251, 240, 0.3);

  --color-selection-bg: rgba(var(--color-primary), 0.15);

  /* Dimensions */
  --header-height: 60px;
  --max-width: 1200px;
  --inline-padding: 3rem;

  /* Transition speed */
  --speed: 0.2s;

  /* Font size */
  --font-size-small: 1.4rem;
  --font-size-text: 1.6rem;
  --font-size-label: 1.8rem;
  --font-size-medium: 2.2rem;
  --font-size-title: 3.4rem;
  --font-size-large: 4rem;
  --font-size-huge: 6rem;
}

/* Darkmode */
:root.dark,
:root.dark ::backdrop {
  color-scheme: dark;
  --color-primary: 253, 251, 240;
  --color-secondary: 34, 34, 42;

  --color-primary-hover: rgb(210, 209, 201);
  --color-secondary-shaded: rgb(45, 45, 53);

  --color-white-ish: rgb(253, 251, 240);
  --color-red: rgb(255, 81, 110);
  --color-blue: hsl(215deg 70% 52%);
  --color-blue-hover: hsl(215deg 95% 63%);
  --color-yellow: rgb(255, 188, 60);

  --color-shadow: rgba(0, 0, 0, 0.2);
  --color-shadow-mid: rgba(0, 0, 0, 0.4);
  --color-shadow-strong: rgba(0, 0, 0, 0.6);
  --color-shadow-text: transparent;

  --color-input-bg: #18181d;
  --color-input-border: hsl(240, 2%, 35%);
  --color-menu-border: #43444b;

  --color-alert-success: rgb(73, 213, 73);
  --color-alert-warning: rgb(255, 188, 60);

  // --color-selection-bg: rgba(var(--color-primary), 0.2);
}

/* High contrast mode */
:root.contrast,
:root.contrast ::backdrop {
  --color-primary: 0, 0, 0;
  --color-secondary: 255, 255, 255;
  --color-red: rgb(0, 0, 0);
  --color-blue: rgb(0, 0, 0);
  --color-blue-hover: rgb(0, 0, 0);
  --color-yellow: rgb(255, 255, 255);
  --color-shadow: transparent;
  --color-shadow-mid: transparent;
  --color-shadow-strong: transparent;
  --color-shadow-text: transparent;
  --color-secondary-shaded: rgb(255, 255, 255);
  --color-input-bg: rgb(255, 255, 255);
  --color-input-border: rgb(0, 0, 0);
  --color-menu-border: rgb(0, 0, 0);
  --color-selection-bg: yellow;
}

:root.auto *,
:root.light *,
:root.dark * {
  outline: none;
}

@media (forced-colors: active), (prefers-contrast: high) {
  * {
    outline: revert;
  }
}

::selection {
  background-color: var(--color-selection-bg);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Sans-Serif;
  color: rgb(var(--color-primary));
  border: none;
  scroll-margin-top: var(--header-height);
}

*::placeholder {
  color: rgba(var(--color-primary), 0.5);
  pointer-events: none;
  user-select: none;
}

.preload-transitions *,
.preload-transitions *::before,
.preload-transitions *::after {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
  }
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  font-size: var(--font-size-text);
  background-color: rgb(var(--color-secondary));
}

dialog {
  margin: auto;
  width: 90%;
  max-height: calc(100dvh - 40px);
  padding: 2rem;
  border-radius: 8px;
  background-color: rgba(var(--color-secondary), 1);
  border: 1px solid var(--color-menu-border);
  box-shadow:
    0 10px 15px -3px var(--color-shadow),
    0 4px 6px -4px var(--color-shadow);
  transform-origin: bottom center;
  scale: 0.9;
  opacity: 0;
  animation:
    scaleUp var(--speed) cubic-bezier(0.3, 0.7, 0.1, 1.2) forwards,
    fadeIn var(--speed) forwards;
  &::backdrop {
    background-color: rgba(var(--color-secondary), 0.8);
    backdrop-filter: blur(4px);
    animation: fadeIn var(--speed) forwards;
  }
}

h3 {
  margin-bottom: 0.75rem;
  font-size: var(--font-size-label);
  font-weight: 800;
}

img,
svg {
  display: block;
  width: 100%;
  user-select: none;
}

svg,
svg * {
  color: inherit;
}

button {
  cursor: pointer;
  user-select: none;
  * {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    pointer-events: none;
  }
}

.btn.default {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 4rem;
  padding: 0.8rem 1.2rem;
  font-size: var(--font-size-text);
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;
  color: rgb(var(--color-secondary));
  background-color: rgb(var(--color-primary));
  border-radius: 4px;
  cursor: pointer;
  &:hover,
  &:focus-visible {
    background-color: var(--color-primary-hover);
  }
  &:disabled,
  &:disabled:hover,
  &:disabled:focus-visible {
    background-color: rgb(var(--color-primary));
    opacity: 0.5;
    cursor: not-allowed;
  }
  svg {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    stroke-width: 1.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

.btn.default.light {
  color: rgb(var(--color-primary));
  background-color: var(--color-secondary-shaded);
  background-color: rgba(var(--color-primary), 0.05);
  &:hover,
  &:focus-visible {
    background-color: rgba(var(--color-primary), 0.1);
  }
  &:disabled,
  &:disabled:hover,
  &:disabled:focus-visible {
    background-color: transparent;
  }
}

.btn.default.danger {
  background-color: var(--color-red);
  &:hover,
  &:focus-visible {
    background-color: var(--color-red-hover);
  }
}

.btn.default.accent {
  font-weight: 600;
  --color-accent-border: rgba(var(--color-primary), 0.2);
  &.black {
    background-color: var(--color-black-ish);
    color: var(--color-white-ish);
    --color-accent-border: rgba(250, 250, 250, 0.1);
  }
  &.red {
    background-color: #dc143c;
    color: var(--color-white-ish);
  }
  &.yellow {
    background-color: #fdce2d;
    color: var(--color-black-ish);
  }
  transition: box-shadow var(--speed);
  box-shadow:
    inset 0 0 0 1px transparent,
    0 0 15px -3px transparent,
    0 0 6px -4px transparent;
  &:hover,
  &:focus-visible {
    box-shadow:
      inset 0 0 0 1px var(--color-accent-border),
      0 10px 15px -3px var(--color-shadow),
      0 4px 6px -4px var(--color-shadow);
    svg .arrow {
      translate: 3px -3px;
    }
  }
  img {
    width: 24px;
    height: 24px;
  }
  &[target="_blank"] {
    .arrow {
      translate: 0 0;
      transition: translate var(--speed);
    }
  }
}

.jump-top {
  position: fixed;
  z-index: 2;
  display: block;
  width: 100%;
  max-width: calc(var(--max-width) + 200px); // just outside of content
  height: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  button {
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(var(--color-primary));
    box-shadow: 0 4px 12px var(--color-shadow);
    transition: background-color 0.2s;
    opacity: 0;
    animation: fadeIn 0.2s forwards;
    &:hover,
    &:focus-visible {
      background-color: var(--color-primary-hover);
      svg {
        translate: 0 -2px;
      }
    }
    svg {
      fill: none;
      stroke: rgb(var(--color-secondary));
      stroke-linecap: round;
      stroke-width: 2px;
      pointer-events: none;
      transition: translate 0.2s;
    }
  }
}

.input-container {
  display: inline-block;
  position: relative;
  input {
    padding-right: 4rem;
  }
  .icon {
    &:not(.button) {
      pointer-events: none;
    }
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    padding: 0.8rem 1.2rem;
    display: grid;
    place-items: center;
    background-color: transparent;
    cursor: pointer;
    svg {
      width: 18px;
      height: 18px;
      stroke-width: 1.5px;
      stroke-linecap: round;
      pointer-events: none;
      opacity: 0.4;
    }
    &:hover svg,
    &:focus-visible svg {
      opacity: 1;
    }
  }
}

input,
textarea,
select {
  padding: 0.8rem 1.2rem;
  border-radius: 4px;
  font-size: var(--font-size-text);
  user-select: text;
  cursor: auto;
  background-color: var(--color-input-bg);
  border: 2px solid var(--color-input-border);
  scrollbar-width: thin;
  &[type="text"] {
    height: 4rem;
  }
  &:focus-visible {
    border-color: rgba(var(--color-primary), 0.5);
  }
  &:not([type="checkbox"]):disabled {
    opacity: 0.75;
    cursor: not-allowed;
  }
  &::-webkit-scrollbar {
    width: initial;
    height: initial;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(var(--color-primary), 0.04);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(var(--color-primary), 0.25);
    border-radius: 10px;
    border: 4px solid transparent;
    background-clip: content-box;
    &:hover {
      background-color: rgba(var(--color-primary), 0.35);
    }
    &:active {
      background-color: rgba(var(--color-primary), 0.5);
    }
  }
}

input,
textarea {
  cursor: text;
}

select {
  user-select: none;
  cursor: pointer;
  height: 4rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4.95 10' fill='%23999'><polygon points='1.41 4.67 2.48 3.18 3.54 4.67 1.41 4.67' /><polygon points='3.54 5.33 2.48 6.82 1.41 5.33 3.54 5.33' /></svg>");
  background-color: var(--color-input-bg);
  background-position: right 4px center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 700px) {
  :root {
    --inline-padding: 2rem;
    --font-size-huge: 4rem;
  }
}

@media screen and (max-width: 400px) {
  :root {
    --inline-padding: 1rem;
    --font-size-huge: 3rem;
  }
}

// Animations

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scaleUp {
  to {
    scale: 1;
  }
}

@keyframes comeBack {
  to {
    translate: 0 0;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes drawStroke {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}
