section#projects {
  .links {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .project-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 2rem;
    list-style-type: none;
    a {
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 2rem;
      user-select: none;
      text-decoration: none;
      cursor: pointer;
      border: 1px solid var(--color-menu-border);
      border-radius: 10px;
      background-color: rgb(var(--color-secondary));
      box-shadow: 0 2px 2px var(--color-shadow);
      scale: 1;
      transition:
        scale var(--speed),
        box-shadow var(--speed);
      &:hover,
      &:focus-visible {
        scale: 1.025;
        box-shadow: 0 4px 18px var(--color-shadow);
      }
      h3 {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        svg {
          width: 18px;
          height: 20px;
          flex-shrink: 0;
          color: var(--color-primary-hover);
          stroke-width: 1.5px;
        }
      }
      p {
        margin-bottom: 2rem;
      }
      .techs {
        display: flex;
        gap: 0.8rem 0.5rem;
        flex-wrap: wrap;
        margin-top: auto;
        span {
          color: rgb(var(--color-primary), 0.75);
          background-color: rgb(var(--color-primary), 0.1);
          border-radius: 4rem;
          padding: 0.2rem 0.8rem;
          font-size: var(--font-size-small);
          font-weight: 500;
        }
      }
    }
  }
}
