.video-container {
  position: relative;
  overflow: hidden;
  background-color: black;
  * {
    color: var(--color-white-ish);
  }
  &.no-cursor * {
    cursor: none !important;
  }
  .error-msg {
    position: absolute;
    inset: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    font-weight: 700;
    p {
      font-weight: 400;
    }
  }
  .loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 50px;
    height: 50px;
    pointer-events: none;
  }
  .controls-container {
    position: absolute;
    inset: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: opacity var(--speed);
    &.hidden {
      opacity: 0;
      * {
        cursor: none !important;
      }
    }
    .empty-space {
      height: calc(100% - 7rem);
      background: transparent;
      cursor: auto;
      .status-icon {
        position: absolute;
        inset: 50%;
        translate: -50% -50%;
        height: 10rem;
        width: 10rem;
        padding: 2rem;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        pointer-events: none;
        opacity: 0;
        scale: 0.6;
        animation:
          scaleUp 0.5s linear forwards,
          fadeOut 0.5s ease-in forwards;
      }
      .volume {
        position: absolute;
        left: 50%;
        top: 10%;
        translate: -50% 0;
        border-radius: 4px;
        padding: 1rem 1.4rem;
        font-size: var(--font-size-label);
        background-color: rgba(0, 0, 0, 0.5);
        pointer-events: none;
        user-select: none;
        animation: fadeOut var(--speed) 0.5s ease-in forwards;
      }
    }
    .controls {
      --video-gui-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
      background: linear-gradient(transparent, var(--color-video-gui-dark));
      container: controls / inline-size;
      .timeline {
        position: relative;
        margin-inline: 2rem;
        .rc-slider {
          height: 2rem;
          cursor: pointer;
        }
        .ghost,
        .rc-slider-rail,
        .rc-slider-track {
          position: absolute;
          bottom: 50%;
          translate: 0 50%;
          height: 4px;
          border-radius: 0;
          transition: height var(--speed);
          background-color: var(--color-video-gui-light);
        }
        .ghost {
          position: absolute;
          background-color: var(--color-video-gui-light);
          .tooltip {
            display: block;
            right: 0;
            bottom: 2rem;
            translate: 50%;
            font-family: "Roboto", Courier, monospace;
          }
        }
        .rc-slider-track {
          background-color: var(--color-red);
        }
        .rc-slider-handle {
          margin-top: -2px;
          border: none;
          background-color: var(--color-red);
          box-shadow: var(--video-gui-shadow);
          cursor: pointer;
          scale: 0;
          opacity: 0;
          transition:
            scale var(--speed) cubic-bezier(0.3, 0.7, 0.1, 1.2),
            opacity var(--speed);
          &:focus-visible {
            scale: 1;
            opacity: 1;
          }
        }
        &.focused {
          .ghost,
          .rc-slider-rail,
          .rc-slider-track {
            height: 6px;
          }
          .rc-slider-handle {
            scale: 1;
            opacity: 1;
          }
        }
      }
      .buttons {
        height: 5rem;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        .end {
          margin-left: auto;
          display: flex;
        }
        button.btn.default {
          padding: 1.4rem;
          height: 5rem;
          color: inherit;
          background-color: transparent;
          border-radius: 0;
          &.play-pause-btn {
            padding-left: 2rem;
          }
          &.jump-btn {
            @container (width < 650px) {
              display: none;
            }
          }
          &.settings-btn {
            svg {
              transition: transform var(--speed);
            }
            &[aria-expanded="true"] {
              svg {
                transform: rotate(30deg);
              }
            }
          }
          &.speed-btn,
          &.captions-btn {
            @container (width <= 500px) {
              display: none;
            }
          }
          &.speed-btn {
            width: 5.2rem;
            padding-inline: 0;
            text-shadow: var(--video-gui-shadow);
            span {
              line-height: 1.5;
            }
          }
          &.full-screen-btn {
            padding-right: 2rem;
          }
          &:not(.mute-btn) {
            opacity: 0.75;
            transition: opacity var(--speed);
            &.focused,
            &:hover,
            &:focus-visible,
            &[aria-expanded="true"] {
              opacity: 1;
              // background-color: transparent;
            }
          }
          &.focused {
            .tooltip {
              display: block;
              bottom: 140%;
              &.left {
                left: 1rem;
              }
              &.right {
                right: 1rem;
              }
            }
          }
          svg {
            width: 24px;
            height: 24px;
            filter: drop-shadow(var(--video-gui-shadow));
          }
        }
        .volume {
          display: flex;
          align-items: center;
          height: 100%;
          opacity: 0.75;
          transition: opacity var(--speed);
          &:hover,
          &:focus-within,
          &.focused {
            opacity: 1;
            .tooltip-container {
              .overflow-container {
                width: 7rem;
              }
            }
          }
          &.focused .tooltip-container .tooltip {
            display: block;
          }
          button.mute-btn {
            padding-right: 1rem;
          }
          .tooltip-container {
            position: relative;
            height: 100%;
            // &:hover,
            &.focused {
              .tooltip {
                display: block;
              }
            }
            .tooltip {
              bottom: 140%;
              left: 50%;
              translate: -50% 0;
              font-weight: 500;
            }
            .overflow-container {
              overflow: hidden;
              height: 100%;
              width: 0;
              transition: width var(--speed);
              .rc-slider {
                margin-inline: 0.6rem;
                min-width: 5.8rem;
                width: 5.8rem;
                height: 100%;
                cursor: pointer;
                .rc-slider-rail,
                .rc-slider-track {
                  position: absolute;
                  top: 50%;
                  translate: 0 -50%;
                  background-color: var(--color-video-gui-light);
                }
                .rc-slider-track {
                  background-color: var(--color-white-ish);
                }
                .rc-slider-handle {
                  margin-top: 0;
                  top: 50%;
                  translate: 0 -50%;
                  width: 1.2rem;
                  height: 1.2rem;
                  border: none;
                  opacity: 1;
                  background-color: var(--color-white-ish);
                  box-shadow: var(--video-gui-shadow);
                  cursor: pointer;
                }
              }
            }
          }
        }
        .time {
          flex-shrink: 0;
          padding-inline: 1.6rem 1.4rem;
          font-family: "Roboto", Courier, monospace;
          font-size: var(--font-size-small);
          font-weight: 200;
          word-spacing: 1px;
          text-shadow: var(--video-gui-shadow);
        }
        .settings-container {
          .settings {
            position: absolute;
            bottom: 100%;
            right: 10px;
            overflow-y: auto;
            display: none;
            flex-direction: column;
            padding: 6px;
            list-style-type: none;
            text-align: left;
            font-weight: inherit;
            border-radius: 8px;
            // border: 1px solid var(--color-black-ish);
            border: 1px solid rgba(253, 251, 240, 0.15);
            background-color: var(--color-video-gui-dark);
            backdrop-filter: blur(6px);
            box-shadow:
              0 10px 15px -3px var(--color-shadow),
              0 4px 6px -4px var(--color-shadow);
            transform-origin: bottom;
            scale: 0.75;
            opacity: 0;
            animation:
              scaleUp var(--speed) cubic-bezier(0.3, 0.7, 0.1, 1.2) forwards,
              fadeIn calc(var(--speed) / 2) forwards;
            &[aria-hidden="false"] {
              display: flex;
            }
            hr {
              height: 1px;
              margin: 6px;
              border-bottom: 1px solid var(--color-video-gui-light);
              // border-bottom: 1px solid rgba(253, 251, 240, 0.15);
            }
            button,
            label {
              pointer-events: auto;
              min-width: max-content;
              width: 100%;
              height: 3.4rem;
              display: flex;
              justify-content: space-between;
              align-items: center;
              gap: 1.5rem;
              padding: 8px;
              font-size: var(--font-size-small);
              font-weight: 500;
              user-select: none;
              border-radius: 4px;
              cursor: pointer;
              background-color: transparent;
              &.left {
                justify-content: flex-start;
                gap: 1rem;
              }
              &:hover:not(:disabled),
              &:focus-visible,
              &:focus-within {
                background-color: rgba(253, 251, 240, 0.15);
              }
              &:disabled {
                opacity: 0.5;
                cursor: not-allowed;
              }
              svg {
                width: 18px;
                height: 18px;
                stroke-width: 1.5px;
              }
              input {
                position: absolute;
                opacity: 0;
              }
              input:not(:checked) + svg {
                visibility: hidden;
              }
            }
          }
        }
      }
    }
  }
  video {
    display: block;
    width: 100%;
    height: 100%;
    --cue-fg: var(--color-white-ish);
    --cue-bg: var(--color-video-gui-dark);
    --cue-font-size: max(100%, 20px);
    &::cue {
      color: var(--cue-fg, revert);
      background-color: var(--cue-bg, revert);
      font-size: var(--cue-font-size, revert);
    }
  }
}
