.umbrella-loading {
  border-radius: 50%;
  border: 25px solid;
  animation: borderRotation 1s linear infinite;
  @keyframes borderRotation {
    0%,
    100% {
      border-color: rgba(var(--color-primary), 0.8) rgba(var(--color-primary), 0.4) rgba(var(--color-primary), 0.1)
        rgba(var(--color-primary), 0.4);
    }
    25% {
      border-color: rgba(var(--color-primary), 0.4) rgba(var(--color-primary), 0.8) rgba(var(--color-primary), 0.4)
        rgba(var(--color-primary), 0.1);
    }
    50% {
      border-color: rgba(var(--color-primary), 0.1) rgba(var(--color-primary), 0.4) rgba(var(--color-primary), 0.8)
        rgba(var(--color-primary), 0.4);
    }
    75% {
      border-color: rgba(var(--color-primary), 0.4) rgba(var(--color-primary), 0.1) rgba(var(--color-primary), 0.4)
        rgba(var(--color-primary), 0.8);
    }
  }
}

.cogs-loading {
  fill: rgb(var(--color-primary));
  .small {
    transform-origin: 31.1px 17px;
    animation: rotate 2s linear infinite reverse;
  }
  .medium {
    transform-origin: 39.7px 31.6px;
    animation: rotate calc(2 / 7 * 8s) linear infinite;
  }
  .large {
    transform-origin: 12.7px 22.9px;
    animation: rotate calc(2 / 7 * 10s) linear infinite;
  }
}

.three-dots-loading {
  display: flex;
  align-items: center;
  gap: 1rem;
  span {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: rgb(var(--color-primary));
    rotate: 0.1deg; /* Bugfix for Firefox scale lag */
    opacity: 0.1;
    scale: 0.8;
    animation: pulseDots 0.8s ease-in-out infinite alternate;
    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        animation-delay: calc(var(--speed) * (#{$i} - 1));
      }
    }
    @keyframes pulseDots {
      0%,
      20% {
        opacity: 0.1;
        scale: 0.8;
      }
      100% {
        opacity: 1;
        scale: 1.1;
      }
    }
  }
}

.equalizer-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  span {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    opacity: 0.1;
    background-color: rgb(var(--color-primary));
    animation: pulseEqualizer 0.8s ease-in-out infinite alternate;
    @for $i from 2 through 6 {
      &:nth-child(#{$i}) {
        animation-delay: calc(var(--speed) / 2 * (#{$i} - 1));
      }
    }
    @keyframes pulseEqualizer {
      from {
        height: 4px;
        opacity: 0.1;
      }
      20% {
        height: 4px;
        opacity: 0.1;
      }
      to {
        height: 20px;
        opacity: 1;
      }
    }
  }
}

.line-ping-loading {
  display: flex;
  align-items: center;
  .container {
    position: relative;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: rgba(var(--color-primary), 0.1);
    div {
      position: absolute;
      top: 0;
      left: 0;
      right: 40px;
      height: 4px;
      border-radius: 2px;
      background-color: rgb(var(--color-primary));
      animation: linePing 2s ease-in-out infinite;
      @keyframes linePing {
        0%,
        100% {
          left: 0px;
          right: 40px;
        }
        25% {
          right: 0px;
        }
        50% {
          left: 40px;
          right: 0px;
        }
        75% {
          left: 0px;
        }
      }
    }
  }
}

.checkers-loading {
  position: relative;
  .placeholders,
  .pieces {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    span {
      width: 10px;
      height: 10px;
      margin: 7.5px;
      border-radius: 50%;
      background-color: rgba(var(--color-primary), 0.1);
    }
  }
  .pieces span {
    background-color: rgb(var(--color-primary));
    animation: checkerMoveDownLeft 1s infinite ease-in-out;
    @keyframes checkerMoveDownLeft {
      0% {
        transform: translate(0, 0);
      }
      25%,
      75% {
        transform: translate(0, 25px);
      }
      100% {
        transform: translate(-25px, 25px);
      }
    }
    &:first-child {
      animation: checkerMoveRight 1s infinite ease-in-out;
      @keyframes checkerMoveRight {
        0%,
        25% {
          transform: translate(0, 0);
        }
        50%,
        100% {
          transform: translate(25px, 0);
        }
      }
    }
    &:last-child {
      animation: checkerMoveUp 1s infinite ease-in-out;
      @keyframes checkerMoveUp {
        0%,
        50% {
          transform: translate(0, 0);
        }
        75%,
        100% {
          transform: translate(0, -25px);
        }
      }
    }
  }
}

.perspective-loading {
  position: relative;
  span {
    position: absolute;
    left: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(var(--color-primary));
    rotate: 0.1deg; /* Bugfix for Firefox scale lag */
    &:first-child {
      animation:
        perspectiveMoveFront 0.6s ease-in-out infinite,
        perspectivePulseFront 0.6s linear infinite;
    }
    &:last-child {
      animation:
        perspectiveMoveBack 0.6s ease-in-out infinite,
        perspectivePulseBack 0.6s linear infinite;
    }
    @keyframes perspectiveMoveFront {
      0% {
        translate: 0 -50%;
      }
      100% {
        translate: 30px -50%;
      }
    }
    @keyframes perspectivePulseFront {
      0%,
      100% {
        scale: 1;
        opacity: 0.8;
      }
      50% {
        scale: 1.2;
        opacity: 1;
      }
    }
    @keyframes perspectiveMoveBack {
      0% {
        translate: 30px -50%;
      }
      100% {
        translate: 0 -50%;
      }
    }
    @keyframes perspectivePulseBack {
      0%,
      100% {
        scale: 1;
        opacity: 0.8;
      }
      50% {
        scale: 0.8;
        opacity: 0.5;
      }
    }
  }
}

.gooey-loading circle {
  fill: rgb(var(--color-primary));
  rotate: 0.1deg; /* Bugfix for Firefox scale lag */
  &.to {
    transform-origin: left;
    animation: gooGrow 0.5s ease-in-out infinite alternate;
  }
  &.goo {
    transform-origin: center;
    animation: gooMove 1s 0.2s ease-in-out infinite;
  }
  &.from {
    transform-origin: right;
    animation: gooGrow 0.5s ease-in-out infinite alternate-reverse;
  }
  @keyframes gooGrow {
    0% {
      scale: 1.3;
    }
    100% {
      scale: 0.9;
    }
  }
  @keyframes gooMove {
    100% {
      translate: -25px 0;
    }
  }
}
