label.switch {
  position: relative;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: max-content;
  cursor: pointer;
  user-select: none;
  * {
    pointer-events: none;
  }
  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    cursor: pointer;
    height: 1.6rem;
    width: 3rem;
    padding: 0;
    border-radius: 0.8rem;
    border: none;
    background-color: var(--color-input-border);
    &::after {
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      width: 12px;
      height: 12px;
      border-radius: 6px;
      background-color: var(--color-white-ish);
      transition: left var(--speed);
    }
    &:hover,
    &:focus-visible {
      background-color: rgb(var(--color-primary), 0.3);
    }
    &:focus-visible {
      box-shadow: 0 0 0 6px rgba(var(--color-primary), 0.1);
    }
    &:checked {
      background-color: var(--color-blue);
      &:after {
        left: 1.6rem;
      }
      &:hover,
      &:focus-visible {
        background-color: var(--color-blue-hover);
      }
    }
  }
}

label.checkbox.check-all {
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--color-secondary-shaded);
  margin-bottom: 1rem;
}
.checkbox-group {
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 1rem;
}

.range-slider {
  margin-block: 6rem 3rem;
  width: 100%;
  max-width: 300px;
  height: 30px;
  cursor: pointer;
  .track {
    border-radius: 2px;
    &.track-0,
    &.track-2 {
      top: 13px;
      height: 4px;
      background-color: var(--color-menu-border);
    }
    &.track-1 {
      top: 13px;
      height: 4px;
      background-color: var(--color-blue);
    }
  }
  .thumb {
    top: 7px;
    height: 16px;
    width: 16px;
    color: var(--color-white-ish);
    background-color: var(--color-blue);
    border-radius: 50%;
    &:hover,
    &:active,
    &:focus-visible {
      background-color: var(--color-blue-hover);
    }
    &:focus-visible {
      box-shadow: 0 0 0 6px rgba(var(--color-primary), 0.1);
    }
    .tooltip {
      display: block;
      bottom: 160%;
      left: 50%;
      translate: -50% 0;
    }
  }
  &.disabled {
    cursor: not-allowed;
    .track-1 {
      background-color: var(--color-input-border);
    }
    .thumb,
    .thumb:hover,
    .thumb:active,
    .thumb:focus-visible {
      background-color: var(--color-input-border);
      box-shadow: none;
      cursor: not-allowed;
      .tooltip {
        display: none;
      }
    }
  }
}

.input-container.file-input {
  display: block;
  width: 100%;
  max-width: 400px;
  input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    font-size: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    &:disabled {
      pointer-events: none;
    }
    &::-webkit-file-upload-button {
      display: none;
    }
  }
  .btn.default.light.input {
    cursor: auto;
    justify-content: flex-start;
    background-color: var(--color-input-bg);
    border: 2px solid var(--color-input-border);
    font-weight: 400;
    padding-right: 4rem;
    &.hover {
      background-color: var(--color-secondary-shaded);
    }
    &.disabled {
      opacity: 0.75;
      cursor: not-allowed;
      svg * {
        stroke: var(--color-input-border);
      }
      ~ .icon {
        opacity: 0.75;
        pointer-events: none;
      }
    }
    svg {
      .progress,
      .check {
        color: var(--color-blue-hover);
      }
    }
    label {
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .icon:focus-visible::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    background-color: rgba(var(--color-primary), 0.1);
    pointer-events: none;
  }
}

@media screen and (max-width: 500px) {
  .range-slider,
  .input-container.file-input {
    max-width: unset;
  }
}
